<style>
* {
  border: 1px red dotted;
  }
html {
  min-height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background: linear-gradient(180deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b); */
}
.avatar-image {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 128px;
  }
.logo {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
</style>
